<table>
  <thead>
  <tr>
    <th>Name Step</th>
    <th>Status</th>
    <th>Rollbacks</th>
    <th></th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @script_step.steps.each do |step| %>
    <tr>
      <td><%= link_to step.name_step, step_path(step) %></td>
      <td><%= step.status %></td>
      <td><%= step.rollbacks %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<td><%= button_to "Run Script", action: "run_script" %></td>
