/ = bootstrap_nested_form_for(@description) do |f|
/   = f.text_field :name_script
/   = f.label :steps
/   = f.fields :steps, model: f.object.steps do |field|
/     = field.text_field :name
/     = field.text_field :actions
/
/   span class="input-group-btn"
/   = submit_tag '+', class: 'btn btn-default'
/   span
/   = submit_tag "Add address", :type =>  "button", :id => "addAddress", :onclick => 'addAddressField()'
/   = text_field_tag :steps, nil, :class => 'form-control form-group', :placeholder => 'add interests'
/   = text_field_tag :steps, nil, :class => 'form-control form-group', :placeholder => 'add interests'

  / = f.text_area :steps
  / = f.submit 'Сохранить'
h1 Добавить шаг в описание скрипта:
h3 = @description.name_script
= render 'form'
= link_to 'Show', @description
| \
= link_to 'Back', descriptions_path