<h1>AllScriptsDescriptions#show</h1>
<p>Find me in app/views/all_scripts_descriptions/show.html.erb</p>

<p>
  <strong>Title:</strong>
  <%= @all_scripts_description.name_script %>
</p>

<p>
  <strong>Steps:</strong>
  <%= @all_scripts_description.steps %>
</p>

<%= link_to 'Back', all_scripts_descriptions_path %>
